* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: montserrat;
  }
  
  .page1 {
    padding: 0 10%;
    width: 100%;
    height: 100%;
    background-image: url(./page1_bg_img.png);
    background-position: center;
    background-size: cover;
    /* display: flex;
      justify-content: center; */
  }
  
  nav {
    width: 100%;
    height: 15%;
    /* background-color: #F3F3E0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav > .anchor {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  nav > .anchor > img {
    height: 100px;
    gap: 10px;
    margin-right: 10%;
  }
  
  nav > .anchor > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  nav > .no > a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  
  .main > button {
    padding: 15px 15px;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  nav > .no > button {
    padding: 10px 30px;
    background-color: #745c3a;
    border: none;
    margin-left: 20px;
    color: white;
    font-size: 17px;
    border-radius: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .main {
    margin-left: 180px;
    margin-top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .main > h1 {
    font-size: 65px;
    font-weight: 600px;
    line-height: 70px;
  }
  
  .main > p {
    margin-bottom: 15px;
  }
  
  .mono > .out {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #b6b6b5;
    border-radius: 50px;
    margin-bottom: 10px;
  }
  .footer {
    margin-top: 60px;
    margin-left: 180px;
  }
  .footer > a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  
  .page2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  .page2 > div > img {
    width: 100%;
    margin-top: 60%;
    padding: 4%;
    margin-left: -65%;
  }
  .page2 > div > h3 {
    margin-left: -60%;
  }
  
  .page2 > h1 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-top: 5%;
    /* padding: 0% 10%; */
    margin-left: 10%;
  }
  .page3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0% 14%;
    margin-top: 5%;
    gap: 10%;
  }
  .page3 > .img {
    margin-top: 1%;
    /* background-color: red; */
    width: 70%;
    height: 90%;
  }
  .page3 > .img > img {
    width: 70%;
    height: 90%;
    margin-left: 60px;
  }
  .page3 > .written {
    margin-top: 1%;
    margin-left: -170px;
    /* background-color: red; */
    width: 100%;
  }
  
  .page4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    /* padding: 0% 17%; */
    margin-top: 5%;
  }
  .page4 > .write {
    width: 16%;
    /* padding: 0% 0%; */
    /* background-color: red; */
    height: 280px;
    margin-left: 270px;
  }
  .page4 > div > img {
    /* background-color: green; */
    width: 100%;
    height: 280px;
  
    /* justify-content: space-between; */
    /* padding: 0% 2%; */
    margin-right: 180px;
  }
  .page4 > .write > .button2 > button {
    margin-top: 7%;
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: #c9ad87;
    border: none;
    border-radius: 40%;
    align-items: center;
  }
  .h1 {
    margin-top: 6%;
    margin-bottom: 1%;
    padding: 0% 21%;
    margin-left: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .page5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 6%; */
    padding: 0% 10%;
    margin-left: 107px;
  }
  .page5 > .logo1 {
    background-color: #e59423;
    margin-top: 6%;
    height: 50px;
    width: 15%;
    background-size: cover;
    border: none;
    border-radius: 300px;
    align-content: center;
  }
  .page5 > .logo1 > i {
    margin-left: 12px;
  }
  .page5 > .logo2 {
    background-color: #e59423;
    margin-top: 6%;
    height: 50px;
    width: 15%;
    background-size: cover;
    border: none;
    border-radius: 300px;
    align-content: center;
  }
  .page5 > .logo2 > i {
    margin-left: 13px;
    /* align-content: center; */
  }
  .page5 > div {
    width: 100%;
  }
  
  .page5 > div > img {
    width: 50%;
    margin-left: 23px;
  }
  
  .page5 > .inner > p {
    width: 300px;
    /* background-color: red; */
    padding: 0% 2%;
    margin-left: -75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .page5 > .inner > h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: -70px;
  }
  
  